<p-drawer [visible]="visible()" (onHide)="visible.set(false)" header="Menú">
  <nav>
    <p-menu [model]="items" />
    <div>
      <div>
        @for (item of socialMedia; track $index) {
          <a
            [href]="item.url"
            pButton
            [icon]="item.icon"
            [rounded]="true"
            [pTooltip]="item.tooltip"
            tooltipPosition="top"
            target="_blank"
            rel="noopener noreferrer"
          >
          </a>
        }
      </div>
      <div>
        <p>Country Explorer · José Daniel Benítez Peña</p>
      </div>
    </div>
  </nav>
</p-drawer>
