@if (loading) {
  <div class="countries-spinner">
    <div>
      <p-progress-spinner ariaLabel="loading" />
    </div>
  </div>
} @else if (error) {
  <p-message severity="error">No se pudo establecer una conexión con el servidor</p-message>
} @else {
  <section class="countries-filters">
    <p-inputgroup>
      <input pInputText [formControl]="search" placeholder="Buscar país" [style]="{ width: '100%' }" />

      <p-inputgroup-addon>
        <p-button
          icon="pi pi-times"
          severity="secondary"
          [pTooltip]="search.value ? 'Limpiar' : ''"
          tooltipPosition="bottom"
          [disabled]="!search.value"
          (click)="resetInput()"
        />
      </p-inputgroup-addon>

      <p-inputgroup-addon>
        <p-button
          icon="pi pi-info-circle"
          severity="secondary"
          pTooltip="Más información"
          tooltipPosition="bottom"
          (click)="op.toggle($event)"
        ></p-button>
      </p-inputgroup-addon>

      <p-popover #op>
        <span (click)="op.hide()"> Buscar país por nombre, capital o región</span>
      </p-popover>

      <p-menu #filterMenu [model]="items" [popup]="true" />
    </p-inputgroup>

    <div>
      <p-select
        [formControl]="region"
        [options]="regions"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecciona una región"
        scrollHeight="250px"
        [showClear]="true"
        [style]="{ width: '100%' }"
      />

      <div>
        <p-button
          icon="pi pi-sort"
          severity="secondary"
          pTooltip="Ordenar por"
          tooltipPosition="bottom"
          (click)="filterMenu.toggle($event)"
        ></p-button>
      </div>

      <p-button
        [icon]="'pi pi-' + view"
        [pTooltip]="view === 'table' ? 'Cambiar a vista de cartas' : 'Cambiar a vista de tabla'"
        tooltipPosition="bottom"
        (click)="toggleView()"
      ></p-button>
    </div>
  </section>

  <section>
    @if (loadingSearch) {
      <div class="loading-search-spinner">
        <div>
          <p-progress-spinner ariaLabel="loading" />
        </div>
      </div>
    }

    @if (filteredCountries.length > 0) {
      <div class="countries-data" [ngStyle]="{ display: view === 'th-large' ? '' : 'none' }">
        @for (country of lazyLoadingCountries; track $index) {
          <div #cardObserver>
            <app-country-card [country]="country"></app-country-card>
          </div>
        }
      </div>
      <div [ngStyle]="{ display: view === 'table' ? '' : 'none' }">
        <p-table [value]="lazyLoadingCountries" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template #header>
            <tr>
              <th>Bandera</th>
              <th>Nombre oficial</th>
              <th>Nombre común</th>
              <th>Capital</th>
              <th>Región</th>
              <th>Subregión</th>
              <th>Área</th>
              <th>Pobllación</th>
            </tr>
          </ng-template>
          <ng-template #body let-country>
            <tr #tableObserver>
              <td style="width: 5rem"><img alt="country" width="100%" [src]="country.flags?.svg" /></td>
              <td>{{ country.translations?.['spa']?.official }}</td>
              <td>{{ country.translations?.['spa']?.common }}</td>
              <td>{{ country.capital }}</td>
              <td>{{ country.region }}</td>
              <td>{{ country.subregion }}</td>
              <td>{{ country.area | number }} km²</td>
              <td>{{ country.population | number }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      @if (filteredCountries.length > pageIndex * pageSize) {
        <div class="loading-spinner">
          <p-progress-spinner ariaLabel="loading" />
        </div>
      }
    } @else {
      <p class="countries-noitems">No se encontraron países con el filtro especificado.</p>
    }
  </section>
}
