@if (loading) {
  <div class="countries-spinner">
    <div>
      <p-progress-spinner ariaLabel="loading" />
    </div>
  </div>
} @else if (error) {
  <p-message severity="error">No se pudo establecer una conexión con el servidor</p-message>
} @else {
  <section class="countries-filters">
    <p-inputgroup>
      <input pInputText [formControl]="search" placeholder="Buscar país" [style]="{ width: '100%' }" />

      <p-inputgroup-addon>
        <p-button
          icon="pi pi-times"
          severity="secondary"
          [pTooltip]="search.value ? 'Limpiar' : ''"
          tooltipPosition="bottom"
          [disabled]="!search.value"
          (click)="resetInput()"
        />
      </p-inputgroup-addon>

      <p-inputgroup-addon>
        <p-button
          icon="pi pi-info-circle"
          severity="secondary"
          pTooltip="Más información"
          tooltipPosition="bottom"
          (click)="op.toggle($event)"
        ></p-button>
      </p-inputgroup-addon>

      <p-popover #op>
        <span (click)="op.hide()"> Buscar país por nombre, capital o región</span>
      </p-popover>

      <p-menu #filterMenu [model]="items" [popup]="true" />
    </p-inputgroup>

    <div>
      <p-select
        [formControl]="region"
        [options]="regions"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecciona una región"
        scrollHeight="250px"
        [showClear]="true"
        [style]="{ width: '100%' }"
      />

      <div>
        <p-button
          icon="pi pi-sort"
          severity="secondary"
          pTooltip="Ordenar por"
          tooltipPosition="bottom"
          (click)="filterMenu.toggle($event)"
        ></p-button>
      </div>
    </div>
  </section>

  <section>
    @if (loadingSearch) {
      <div class="loading-search-spinner">
        <div>
          <p-progress-spinner ariaLabel="loading" />
        </div>
      </div>
    }

    @if (filteredCountries.length > 0) {
      <div class="countries-data">
        @for (country of lazyLoadingCountries; track $index) {
          <div #scrollObserver>
            <app-country-card [country]="country"></app-country-card>
          </div>
        }
      </div>
      @if (filteredCountries.length > pageIndex * pageSize) {
        <div class="loading-spinner">
          <p-progress-spinner ariaLabel="loading" />
        </div>
      }
    } @else {
      <p class="countries-noitems">No se encontraron países con el filtro especificado.</p>
    }
  </section>
}
