<p-card [style]="{ width: '100%', height: '100%', position: 'relative' }">
  <ng-template #header>
    <div class="cc-image">
      <img alt="country" width="80%" [src]="country().flags.svg" />
    </div>
  </ng-template>
  <ng-template #title> {{ this.country().translations['spa'].official }} </ng-template>
  <ng-template #subtitle> {{ this.country().translations['spa'].common }} </ng-template>
  <div class="cc-main">
    <p><strong>Capital: </strong> {{ country().capital }}</p>
    <p><strong>Región: </strong> {{ country().region }}</p>
    <p><strong>Sub-Región: </strong> {{ country().subregion }}</p>
    <p><strong>Area: </strong> {{ country().area | number }} km²</p>
    <p><strong>Población: </strong> {{ country().population | number }}</p>
  </div>
  <ng-template #footer>
    <div class="cc-footer">
      <p-button
        icon="pi pi-eye"
        [rounded]="true"
        variant="text"
        pTooltip="Ver"
        tooltipPosition="top"
        (click)="onCountrySelected()"
      />
      <app-save-button
        [country]="country()"
        [stroke]="stroke()"
        (deletedCountry)="onDeletedCountry()"
      ></app-save-button>
    </div>
  </ng-template>
</p-card>
