.cc-image {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cc-main {
    margin-bottom: 3rem;
}

.cc-footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
