<p-card [style]="{ width: '100%', height: '100%', position: 'relative' }">
  <ng-template #header>
    <div class="cc-image">
      <img alt="country" width="80%" [src]="country()?.flags?.svg" />
    </div>
  </ng-template>
  <ng-template #title> {{ this.country()?.translations?.['spa']?.official }} </ng-template>
  <ng-template #subtitle> {{ this.country()?.translations?.['spa']?.common }} </ng-template>
  <p class="cc-main">
    {{ country()?.capital }}
  </p>
  <ng-template #footer>
    <div class="cc-footer">
      <p-button
        icon="pi pi-eye"
        [rounded]="true"
        variant="text"
        pTooltip="Ver"
        tooltipPosition="top"
        (click)="onCountrySelected()"
      />
      <p-button
        [icon]="'pi pi-heart' + fillIcon"
        [rounded]="true"
        variant="text"
        [pTooltip]="isFavorite() ? 'Quitar de favoritos' : 'Agregar a favoritos'"
        tooltipPosition="top"
        (click)="onCountrySaved()"
      />
    </div>
  </ng-template>
</p-card>
